<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.accp.dao.wc.khclbMapper" >
  <resultMap id="BaseResultMap" type="org.accp.pojo.khclb" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
   
    <result column="pid2" property="pid2" jdbcType="INTEGER" />
    <result column="xid" property="xid" jdbcType="INTEGER" />
    <result column="kid" property="kid" jdbcType="INTEGER" />
    <result column="cnumber" property="cnumber" jdbcType="VARCHAR" />
    <result column="cbrand" property="cbrand" jdbcType="VARCHAR" />
    <result column="cmodel" property="cmodel" jdbcType="VARCHAR" />
    <result column="cdriver" property="cdriver" jdbcType="VARCHAR" />
    <result column="cphone" property="cphone" jdbcType="VARCHAR" />
    <result column="cbirthday" property="cbirthday" jdbcType="DATE" />
   
   
    <result column="cb1" property="cb1" jdbcType="VARCHAR" />
    <result column="cb2" property="cb2" jdbcType="VARCHAR" />
    <result column="cb3" property="cb3" jdbcType="VARCHAR" />
    <result column="cb4" property="cb4" jdbcType="VARCHAR" />
    <result column="cb5" property="cb5" jdbcType="INTEGER" />
    <result column="cb6" property="cb6" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid,  pid2, xid, kid, cnumber, cbrand, cmodel, cdriver, cphone, cbirthday,  cb1, cb2, cb3, cb4, cb5, cb6
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from khclb
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from khclb
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.accp.pojo.khclb" >
    insert into khclb (cid,  pid2, 
      xid, kid, cnumber, 
      cbrand, cmodel, cdriver, 
      cphone, cbirthday,  cb1, cb2, 
      cb3, cb4, cb5, cb6
      )
    values (#{cid,jdbcType=INTEGER},  #{pid2,jdbcType=INTEGER}, 
      #{xid,jdbcType=INTEGER}, #{kid,jdbcType=INTEGER}, #{cnumber,jdbcType=VARCHAR}, 
      #{cbrand,jdbcType=VARCHAR}, #{cmodel,jdbcType=VARCHAR}, #{cdriver,jdbcType=VARCHAR}, 
      #{cphone,jdbcType=VARCHAR}, #{cbirthday,jdbcType=DATE},#{cb1,jdbcType=VARCHAR}, #{cb2,jdbcType=VARCHAR}, 
      #{cb3,jdbcType=VARCHAR}, #{cb4,jdbcType=VARCHAR}, #{cb5,jdbcType=INTEGER}, #{cb6,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.accp.pojo.khclb" >
    insert into khclb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
     
      <if test="pid2 != null" >
        pid2,
      </if>
      <if test="xid != null" >
        xid,
      </if>
      <if test="kid != null" >
        kid,
      </if>
      <if test="cnumber != null" >
        cnumber,
      </if>
      <if test="cbrand != null" >
        cbrand,
      </if>
      <if test="cmodel != null" >
        cmodel,
      </if>
      <if test="cdriver != null" >
        cdriver,
      </if>
      <if test="cphone != null" >
        cphone,
      </if>
      <if test="cbirthday != null" >
        cbirthday,
      </if>
     
      <if test="cb1 != null" >
        cb1,
      </if>
      <if test="cb2 != null" >
        cb2,
      </if>
      <if test="cb3 != null" >
        cb3,
      </if>
      <if test="cb4 != null" >
        cb4,
      </if>
      <if test="cb5 != null" >
        cb5,
      </if>
      <if test="cb6 != null" >
        cb6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      
      <if test="pid2 != null" >
        #{pid2,jdbcType=INTEGER},
      </if>
      <if test="xid != null" >
        #{xid,jdbcType=INTEGER},
      </if>
      <if test="kid != null" >
        #{kid,jdbcType=INTEGER},
      </if>
      <if test="cnumber != null" >
        #{cnumber,jdbcType=VARCHAR},
      </if>
      <if test="cbrand != null" >
        #{cbrand,jdbcType=VARCHAR},
      </if>
      <if test="cmodel != null" >
        #{cmodel,jdbcType=VARCHAR},
      </if>
      <if test="cdriver != null" >
        #{cdriver,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null" >
        #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="cbirthday != null" >
        #{cbirthday,jdbcType=DATE},
      </if>
      
      <if test="cb1 != null" >
        #{cb1,jdbcType=VARCHAR},
      </if>
      <if test="cb2 != null" >
        #{cb2,jdbcType=VARCHAR},
      </if>
      <if test="cb3 != null" >
        #{cb3,jdbcType=VARCHAR},
      </if>
      <if test="cb4 != null" >
        #{cb4,jdbcType=VARCHAR},
      </if>
      <if test="cb5 != null" >
        #{cb5,jdbcType=INTEGER},
      </if>
      <if test="cb6 != null" >
        #{cb6,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.accp.pojo.khclb" >
    update khclb
    <set >
     
      <if test="pid2 != null" >
        pid2 = #{pid2,jdbcType=INTEGER},
      </if>
      <if test="xid != null" >
        xid = #{xid,jdbcType=INTEGER},
      </if>
      <if test="kid != null" >
        kid = #{kid,jdbcType=INTEGER},
      </if>
      <if test="cnumber != null" >
        cnumber = #{cnumber,jdbcType=VARCHAR},
      </if>
      <if test="cbrand != null" >
        cbrand = #{cbrand,jdbcType=VARCHAR},
      </if>
      <if test="cmodel != null" >
        cmodel = #{cmodel,jdbcType=VARCHAR},
      </if>
      <if test="cdriver != null" >
        cdriver = #{cdriver,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null" >
        cphone = #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="cbirthday != null" >
        cbirthday = #{cbirthday,jdbcType=DATE},
      </if>
     
      <if test="cb1 != null" >
        cb1 = #{cb1,jdbcType=VARCHAR},
      </if>
      <if test="cb2 != null" >
        cb2 = #{cb2,jdbcType=VARCHAR},
      </if>
      <if test="cb3 != null" >
        cb3 = #{cb3,jdbcType=VARCHAR},
      </if>
      <if test="cb4 != null" >
        cb4 = #{cb4,jdbcType=VARCHAR},
      </if>
      <if test="cb5 != null" >
        cb5 = #{cb5,jdbcType=INTEGER},
      </if>
      <if test="cb6 != null" >
        cb6 = #{cb6,jdbcType=INTEGER},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.accp.pojo.khclb" >
    update khclb
    set 
      pid2 = #{pid2,jdbcType=INTEGER},
      xid = #{xid,jdbcType=INTEGER},
      kid = #{kid,jdbcType=INTEGER},
      cnumber = #{cnumber,jdbcType=VARCHAR},
      cbrand = #{cbrand,jdbcType=VARCHAR},
      cmodel = #{cmodel,jdbcType=VARCHAR},
      cdriver = #{cdriver,jdbcType=VARCHAR},
      cphone = #{cphone,jdbcType=VARCHAR},
      cbirthday = #{cbirthday,jdbcType=DATE},
     
      cb1 = #{cb1,jdbcType=VARCHAR},
      cb2 = #{cb2,jdbcType=VARCHAR},
      cb3 = #{cb3,jdbcType=VARCHAR},
      cb4 = #{cb4,jdbcType=VARCHAR},
      cb5 = #{cb5,jdbcType=INTEGER},
      cb6 = #{cb6,jdbcType=INTEGER}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  
  <select id="qurechclByid" resultType="org.accp.pojo.khclb">
		  SELECT * FROM `khclb` WHERE `kid` = #{kid}
	</select>
	
	 <select id="qurechclBycid" resultType="org.accp.pojo.khclb">
		 SELECT * FROM `khclb` WHERE `cid` =#{cid}
	</select>
	<select id="qurechclBycCp" resultType="String">
		SELECT `cnumber` FROM `khclb`
	</select>
	
	
	
</mapper>